/*
// Background
*/

/* Contextual colors */
.bg-white { background-color: var(--css-utils-color-white, #fff); }

.bg-black { background-color: var(--css-utils-color-black, #000); }

.bg-primary { background-color: var(--css-utils-color-primary, #c80046); }

.bg-secondary { background-color: var(--css-utils-color-secondary, #363636); }

.bg-success { background-color: var(--css-utils-color-success, #28a745); }

.bg-danger { background-color: var(--css-utils-color-secondary, #dc3545); }

.bg-warning { background-color: var(--css-utils-color-secondary, #ffc107); }

.bg-gray { background-color: var(--css-utils-color-secondary, #acacac); }

.bg-gray-light { background-color: var(--css-utils-color-secondary, #d7d7d7); }

.bg-gray-dark { background-color: var(--css-utils-color-secondary, #4b4b4b); }

.bg-transparent { background-color: transparent; }
