/*
// Borders
*/


.border { border: var(--css-utils-border-width, 1px) solid var(--css-utils-border-color, #acacac); }

.border-top { border-top: var(--css-utils-border-width, 1px) solid var(--css-utils-border-color, #acacac); }

.border-right { border-right: var(--css-utils-border-width, 1px) solid var(--css-utils-border-color, #acacac); }

.border-bottom { border-bottom: var(--css-utils-border-width, 1px) solid var(--css-utils-border-color, #acacac); }

.border-left { border-left: var(--css-utils-border-width, 1px) solid var(--css-utils-border-color, #acacac); }

.border-0 { border: 0; }

.border-top-0 { border-top: 0; }

.border-right-0 { border-right: 0; }

.border-bottom-0 { border-bottom: 0; }

.border-left-0 { border-left: 0; }

/* Contextual colors */
.border-white { border-color: var(--css-utils-color-white, #fff); }

.border-black { border-color: var(--css-utils-color-black, #000); }

.border-primary { border-color: var(--css-utils-color-primary, #c80046); }

.border-secondary { border-color: var(--css-utils-color-secondary, #363636); }

.border-success { border-color: var(--css-utils-color-success, #28a745); }

.border-danger { border-color: var(--css-utils-color-danger, #dc3545); }

.border-warning { border-color: var(--css-utils-color-warning, #ffc107); }

.border-gray { border-color: var(--css-utils-color-gray, #acacac); }

.border-gray-light { border-color: var(--css-utils-color-gray-light, #d7d7d7); }

.border-gray-dark { border-color: var(--css-utils-color-gray-dark, #4b4b4b); }

/* Border-radius */
.rounded-sm {
  border-radius: var(--css-utils-border-radius-sm, 4px);
}

.rounded {
  border-radius: var(--css-utils-border-radius, 5px);
}

.rounded-top {
  border-top-left-radius: var(--css-utils-border-radius, 5px);
  border-top-right-radius: var(--css-utils-border-radius, 5px);
}

.rounded-right {
  border-top-right-radius: var(--css-utils-border-radius, 5px);
  border-bottom-right-radius: var(--css-utils-border-radius, 5px);
}

.rounded-bottom {
  border-bottom-right-radius: var(--css-utils-border-radius, 5px);
  border-bottom-left-radius: var(--css-utils-border-radius, 5px);
}

.rounded-left {
  border-top-left-radius: var(--css-utils-border-radius, 5px);
  border-bottom-left-radius: var(--css-utils-border-radius, 5px);
}

.rounded-lg {
  border-radius: var(--css-utils-border-radius-sm, 6px);
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-pill {
  border-radius: var(--css-utils-border-radius-round, 50%);
}

.rounded-0 {
  border-radius: 0;
}
