:root {
  /* Spacing */
  --int-css-utils-spacing-base: var(--css-utils-spacing-base, 10px);

  /* Shadows */

  --int-css-utils-box-shadow-sm: var(--css-utils-box-shadow-sm, 0 2px 4px rgba(0, 0, 0, 0.075));
  --int-css-utils-box-shadow: var(--css-utils-box-shadow, 0 8px 16px rgba(0, 0, 0, 0.15));
  --int-css-utils-box-shadow-lg: var(--css-utils-box-shadow-lg, 0 16px 48px rgba(0, 0, 0, 0.175));
}
